* {
    margin:  0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    background: lightgray;
    font-size: 25px;
}

.container {

    display: flex;
    flex-direction: column;
}

h1, h2, h3, p, a {
    background: transparent;
}

a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

a:hover {
    color: red;
}

.flexColumnCenter {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.menu {
    height: 60px;
    flex-direction: row;
    justify-content: space-around;
    background: black;
    padding-top: 15px;
    margin-bottom: 20px;
}



.pieDePagina {
    height: 60px;
    flex-direction: row;
    background: black;
}

.pieDePagina p {
    margin-top: 30px;
    color: white;
}

.subtitulo {
    background: rgb(126, 126, 126);
    border-radius: 5px;
    height: 50px;
    padding: 10px;
}

.contenedorSubStitulo {
    flex-direction: row;
}

.contenedorTarjetasHorizontal {
    flex-direction: row;
    justify-content: space-between;
    margin: 1.2% 0px;
}

.tarjeta {
    background: white;
    border-radius: 15px;
    padding: 10px 10px;
    box-shadow: 0 0 30px 0 rgba(0, 0, 0, .5);
}
/* ======TARJETA ESPECIAL======= */
.tarjetaEspecial {
    position: relative;
    width: 300px;
    height: 400px;
    margin: 15px;
    background: #000;
    box-shadow: 0 0 30px 0 rgba(0, 0, 0, .5);
}

.tarjetaEspecial .imgBx {
    width: 100%;
    height: 100%;
}

.tarjetaEspecial .imgBx img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.5s;
}

.tarjetaEspecial:hover .imgBx img {
    opacity: 0;
}

.tarjetaEspecial .contenidoTarjetaEspecial {
    position: absolute;
    bottom: 20px;
    left: 10%;
    width: 80%;
    height: 60px;
    background: #fff;
    padding: 15px;
    transition: 0.5s;
    overflow: hidden;
}

.tarjetaEspecial:hover .contenidoTarjetaEspecial {
    width: 100%;
    height: 100%;
    bottom: 0;
    left: 0;
}

.tarjetaEspecial .contenidoTarjetaEspecial h3 {
    margin: 0;
    padding: 0;
    font-size: 20px;
}

.tarjetaEspecial .contenidoTarjetaEspecial p {
    margin: 10px 0 0;
    padding: 0;
    opacity: 0;
    line-height: 1.2em;
    transition: 0.5s;
    text-align: justify;
    font-size: 20px;
}

.tarjetaEspecial:hover .contenidoTarjetaEspecial p {
    opacity: 1;
    transition-delay: 0.5s;
}
/* =================================== */

#contenedorDescripcion {
    flex-direction: row;
    margin: 20px;
}

#Descripcion {
    width: 100%;
    height: 180px;
    justify-content: space-between;
}


#Programacion {
    width: 50%;
}

#BaseDeDatos {
    width: 50%;
}

#DatosGenerales {
    width: 30%;
    margin: 20px;
    justify-content: space-between;
}

#Educacion {
    width: 70%;
    margin: 20px;
}

#Educacion #contenidoEducacion {
    justify-content: left;
    flex-direction: row;
    background: transparent;
}

#Educacion #contenidoEducacion div{
    justify-content: space-between;
    background: transparent;
    margin-left: 15px;
}

#logoEducacion {
    height: 300px;
    width: 250px;
    border-radius: 15px;
}
