* {
    margin:  0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    background: lightgray;
}

.container {

    display: flex;
    flex-direction: column;
}

h1, h2, h3, p, a, b, img {
    background: transparent;
}

a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

a:hover {
    color: red;
}

.flexColumnCenter {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.pieDePagina {
    height: 3rem;
    flex-direction: row;
    background: black;
}

.pieDePagina p {
    margin-top: 1rem;
    color: white;
}

.subtitulo {
    background: rgb(126, 126, 126);
    border-radius: .5rem;
    height: 2rem;
    padding: 0.3rem;
}
