* {
    margin:  0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    background: black;
}

a, img, nav, div, span, p {
    background: transparent;
}

a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

header {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

#navegacion {

    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    background: transparent;
}

#contenidoNavegacion {
    display: flex;
    flex-direction: row;
    height: 100%;
}

#seccion1{
    display: flex;
    width: 50%;
    justify-content: space-between;
    margin: .5rem 0 0 1rem;
    background-color: transparent;
    padding: 0 1rem;

}

#seccion2{
    display: flex;
    width: 50%;
    justify-content: end;
    margin: 1rem 2rem 0 0rem;
    background-color: transparent;
}


#ContenedorInformacion {
    position: absolute;
    width: 100%;
    padding-left: 3rem;
    top: 15rem;
}

#ContenedorInfo{
    display: flex;
    flex-direction: column;
    width: 50%;
}

#botonesPrincipales{
    display: flex;
    flex-direction: row;
    justify-content: start;
    margin-top: 1rem;
}

#btnReproducir{

    display: flex;
    flex-direction: row;
    border-radius: .3rem;
    background-color: white;
    width: 13rem;
    margin-right: 1rem;
}

#btnMasInformacion{

    display: flex;
    flex-direction: row;
    border-radius: .3rem;
    background-color: gray;
    width: 17rem;
    margin-right: 1rem;
}

.iconosBotones {
    margin: .5rem 1rem;
    height: 2rem;
    width: 2rem;
}

.textoBoton{
    margin-top: 0.5rem;
    font-size: 1.5rem;
}

#titulo{
    color: white;
    font-size: 2rem;
}

#sinopsis {
    margin-top: 2rem;
    color: white;
}

#logo{
    height: 1.5rem;
    width: 80px;
}


.logoBarra{
    height: 1.5rem;
    width: 3rem;
}

#ninos {
    margin-top: .3rem;
}

#logo-down {
    height: 1rem;
    width: 1rem;
    margin-top: 0rem;
}

.margin-left {
    margin-left: 1rem;
}


#contendorPeliculas {
    
    position: absolute;
    width: 100%;
    top: 33rem;
    display: flex;
    flex-direction: column;
    padding-left: 3rem;
}


.carrusel{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 1rem;
}

.tituloCarrusel{
    font-size: 1.7rem;
    color: white;
}

.catalogo{
    display: flex;
    flex-direction: row;
    margin-top: .7rem;
}

.peliculaSerie{
    border-radius: .3rem;
    margin-right: .3rem;
    width: 23%;
    height: 10rem;
}

img:hover{
    transform: scale(1.2);
}

