* {
    margin:  0;
    padding: 0;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    color: black;
}

#resultados {
    width: 100%;
    background-color: whitesmoke;
}

#generos {
    width: 100%;
    background-color: whitesmoke;
}

.icono {
    height: 20px;
    width: 15px;
    padding-bottom: 5px;
}

.img {
    height: 15rem;
    width: 15rem;
}

div img {
   height: 500px;
   width: 100%;
}

div label {
    color: whitesmoke;
}

#titulo {
    text-overflow: ellipsis !important;
}

.centrado {
    width: 100%;
    text-align: center;
}